<html>

  <head><title>Reset</title></head>
  

  <body>
     
    <% if(locals.user) {%>
        <!-- for reseting the password -->
        <form action="/users/reset-password/<%= profile_user._id %>" method="POST">
           
        <input type="password" name="password" placeholder="enter new password">
        <input type="password" name="c_password" placeholder="confirm password">
        <input type="submit">
        </form>
        
        <%}%>

     
  </body>
</html>