<html>
    <head><title>profile</title>

        
    </head>

    <body>


        <% for(let i=0;i<jobs.length;i++){%>
            
            <div id="jobs">
                <h1><%= jobs[i].job_role%></h1>

                <h3>
                    Job Function : <%= jobs[i].function%>
                </h3>

                <h3>
                    Company : <%= jobs[i].company%>
                </h3>

                <h3>
                    Location : <%= jobs[i].location%>
                </h3>

                <button>Apply</button>
            </div>
         
            <%}%>
    </body>
</html>