#head{
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 10vh;
    left: 0%;
    background-color: rgb(2, 10, 8);
    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 100%;
        background-color: inherit;
    }

    #job-search-bar{
        width: 250px;
        height: 30px;
        background-color: rgb(241, 240, 238);
        border-radius: 20px;
        position: relative;
        left: 40%;

        input{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            padding: 10px;
        }
    }

    #create_job{
        background-color: inherit;
        position: relative;
        left: 60%;
        width: auto;
        height: auto;
        button{
            padding: 5px;
            margin-right: 10px;
        }
    }
}
