body{

    display: flex;
    justify-content: center;
    align-items: center;

    

    #home_container{
        height: auto;
        width: auto;
        background-color: lightskyblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -70px;
        padding: 15px;
        border: 5px solid rgb(17, 9, 9);

        p{
            font-weight: 800;
            font-size: 30px;
        }

        button{
            width: 300px;
            height: 40px;
            margin-top: 10px;

            a{
                text-decoration: none;
                font-size: 20px;
                padding-right: 55px;
                padding-left: 55px;
                padding-top:5px;
                padding-bottom:5px ;
            }
        }

        button:hover{
            transform: scale(1.1);
            transition: 0.5s;
            background-color: lawngreen;
            cursor: pointer;
        }
    }
}