body #fpf_container {
  background-color: lightskyblue;
  padding: 20px;
  border: 5px solid black;
  margin-top: -50px; }
  body #fpf_container h1 {
    margin: none; }
  body #fpf_container form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
    body #fpf_container form input {
      width: 70%;
      height: 40px; }
    body #fpf_container form #sub {
      width: 35%;
      height: 30px;
      margin-top: 10px; }
    body #fpf_container form #sub:hover {
      transition: 0.5s;
      cursor: pointer;
      background-color: chocolate;
      transform: scale(1.01); }
